# Godot 4+ specific ignores
.godot/


demo/assets/**
!demo/assets/animations
!demo/assets/animations/.gitkeep
!demo/assets/resources
!demo/assets/resources/.gitkeep
!demo/assets/models/**
# Ignore library files but not the gdextension file
# demo/addons/MotionMatching/bin/*

!demo/addons/MotionMatching/editor/**
!*/libMotionMatching*
!demo/addons/MotionMatching/MotionMatching.gdextension
.sconsign*.dblite

src/gen/*

!*.gitkeep

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

# VSCode
.vscode/*
!.vscode/extensions.json
.DS_Store
